
.grid-container{
    display:grid;
    grid-template-columns:100px 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px 100px 100px;
    margin-left: 40%;
}

#display{
    margin-left:40%;
    height:70px;
    width:392px;
    text-align:right;
    font-size:40px;
    background-color:#52514d;
    color:#ebebec;

}
input::-webkit-input-placeholder{
    color:#ebebec;
}
.grid-element{

    background-color: #7d7c7e;
    color:#ebebeb;
    font-size:20px;
}
.grid-element1{
    background-color: #5e5d5b;
    color:#ebebeb;
    font-size:20px;
}
.grid-element2{
    background-color: #ff9f0b;
    color:#ebebeb;
    font-size:20px;

}
.zero{
    background-color: #7d7c7e;
    color:#ebebeb;
}
